*{
    margin: 0;
    padding: 0;
}
body{
    background : url(10.jpg) no-repeat center
    fixed;
    background-size: cover;
}
h1{
    text-align: center;
    color: white;
    background:rgba(0,0,0,0.5);
    padding: 15px;
    font-size: 100px;
}
.registration{
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    padding: 15px;
}
h2{
    padding: 5px;
}
#name{
    width: 42%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    font-family: serif;
    font-size: 18px;
    background: none;
    color: white;
}
#number{
    width: 35%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    font-family: serif;
    font-size: 18px;
    background: none; 
    color: white;
}
#num{
    
    padding: 7px 0px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0; 
    background: none;
    color: white;
}
#country{
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    font-family: serif;
    font-size: 18px;
    background: none; 
    color: white;
}
#city{
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    font-family: serif;
    font-size: 18px;
    background: none;
    color: white; 
}
#check{
    font-family: serif;
    font-size: 18px; 
}
#sub{
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    font-family: serif;
    font-size: 18px;
    background: none;
    color: white;  
}
#sub:hover{
    background:rgba(12, 0, 0, 0.911);
}
::placeholder{
    color: white;
}
#option{
    background: black;
}