<% include partial/header %>

<h1>search  a person</h1>

<form action="/results" method="GET">
    <input type="text" name="person_name" id="" placeholder="person name or a part of it">
    <input type="text" name="address" placeholder="city or street or country">
    <button>search</button>
</form>

<% include partial/footer %>