<% include partial/header %>

<form action="/index" method="POST">
    <input type="text" name="name" >
    <input type="url" name="image">
    <input type="text" name="desc">
    <button type="submit"> submit </button>
</form>

<% include partial/footer %>
