<% include partial/header %>

<form action="/results" method="GET">
    <input type="text" name="search_word" placeholder="search">
    <button type="submit"> search</button>
</form>

<% include partial/footer %>